body {
  width: 80vh;
}
.rulet {
  display: flex;
  justify-content: space-around;
}

button {
  height: 2vh;
  width: 8vh;
  border-radius: 10px;
  background-color: blanchedalmond;
}
.enviar {
  height: 2vh;
  width: 6vh;
  border-radius: 10px;
  background-color: rgb(228, 193, 51);
}
/*iniciando ruleta*/

.vara {
  margin: auto;
  width: 0;
  height: 0;
  border-top: 100px solid blue;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
}
img {
  border-radius: 300px;
  transition: all 5s;
}
.container1 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
