body{
    width: 80vh;
}
.rulet{
    display: flex;
    justify-content: space-around;
}

button{
    height: 4vh;
    width: 10vh;
    border-radius: 10px;
    background-color: blanchedalmond;
}
.enviar{
    height: 2vh;
    width: 6vh;
    border-radius: 10px;
    background-color: rgb(228, 193, 51);
}
/*iniciando ruleta*/

.vara{
    margin: auto;
    width:0px;
    height: 0px;
    border-style: solid;
    border-width: 60px 30px 10px 10px;
    border-color: rgb(229, 190, 34) transparent transparent transparent;
}
img{
   border-radius: 300px;
    transition: all 5s;
}
.neon {
	color: #fff;
	margin-top: 30%;
	text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
}
